[Desktop Entry]
Type=Application
Exec=/usr/bin/clover-kachikachi-wr /usr/share/games/CLV-P-HBBEJ/CLV-P-HBBEJ.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0//CLV-P-HBBEJ
Name=赤龍王
Icon=/usr/share/games/CLV-P-HBBEJ/CLV-P-HBBEJ.png

[X-CLOVER Game]
Code=CLV-P-HBBEJ
TestID=120
ID=0
Players=1
Simultaneous=0
ReleaseDate=1989-02-10
SaveCount=0
SortRawTitle=せきりゅうおう
SortRawPublisher=さんそふと
Copyright=赤龍王　©本宮ひろ志 ©本宮企画 ©集英社 ©SUNSOFT ©TOKAI ENGINEERING
