[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /var/squashfs/usr/share/games/nes/kachikachi/CLV-P-HACEJ/CLV-P-HACEJ.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 72 --enable-armet 
Path=/var/lib/clover/profiles/0//CLV-P-HACEJ
Name=つっぱり大相撲
Icon=/var/squashfs/usr/share/games/nes/kachikachi/CLV-P-HACEJ/CLV-P-HACEJ.png

[X-CLOVER Game]
Code=CLV-P-HACEJ
TestID=281
ID=0
Players=2
Simultaneous=1
ReleaseDate=1987-09-18
SaveCount=0
SortRawTitle=つっぱりおおずもう
SortRawPublisher=こーえーてくも
Copyright=つっぱり大相撲 ©1987 コーエーテクモゲームス All rights reserved.
