[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-NABXE/CLV-P-NABXE.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 80 --enable-armet 
Path=/var/lib/clover/profiles/0//CLV-P-NABXE
Name=Castlevania II Simon's Quest
Icon=/var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-NABXE/CLV-P-NABXE.png

[X-CLOVER Game]
Code=CLV-P-NABXE
TestID=212
ID=0
Players=1
Simultaneous=0
ReleaseDate=1988-12-01
SaveCount=0
SortRawTitle=castlevania ii simon's quest
SortRawPublisher=KONAMI
Copyright=Castlevania II Simon's Quest ©1988 Konami Digital Entertainment
