[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-NACDE/CLV-P-NACDE.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 85 --enable-armet 
Path=/var/lib/clover/profiles/0//CLV-P-NACDE
Name=TECMO BOWL
Icon=/var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-NACDE/CLV-P-NACDE.png

[X-CLOVER Game]
Code=CLV-P-NACDE
TestID=272
ID=0
Players=2
Simultaneous=1
ReleaseDate=1989-02-01
SaveCount=0
SortRawTitle=tecmo bowl
SortRawPublisher=KOEI TECMO
Copyright=TECMO BOWL ©1989 KOEI TECMO GAMES Co., Ltd. All rights reserved.
