[Desktop Entry]
Type=Application
Exec=/bin/clover-canoe-shvc-wr -rom /var/squashfs/usr/share/games/CLV-P-VAAHJ/CLV-P-VAAHJ.sfrom --volume 100 -rollback-snapshot-period 600
Path=/var/lib/clover/profiles/0//CLV-P-VAAHJ
Name=スーパーメトロイド
Icon=/var/squashfs/usr/share/games/CLV-P-VAAHJ/CLV-P-VAAHJ.png

[X-CLOVER Game]
Code=CLV-P-VAAHJ
TestID=5
Status=Duplicate-1
ID=0
Players=1
Simultaneous=0
ReleaseDate=1994-03-19
SaveCount=3
SortRawTitle=すーぱーめとろいど
SortRawPublisher=にんてんどう
Copyright=スーパーメトロイド ©1994 Nintendo
MyPlayDemoTime=45
