[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-NAASE/CLV-P-NAASE.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 70 --enable-armet 
Path=/var/lib/clover/profiles/0//CLV-P-NAASE
Name=Zelda II - The Adventure of Link
Icon=/var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-NAASE/CLV-P-NAASE.png

[X-CLOVER Game]
Code=CLV-P-NAASE
TestID=532
ID=0
Players=1
Simultaneous=0
ReleaseDate=1988-12-01
SaveCount=3
SortRawTitle=zelda ii - the adventure of link
SortRawPublisher=NINTENDO
Copyright=Zelda II - The Adventure of Link ©1987 Nintendo
