*.csproj.user
*.pfx
*.vcxproj.user
.vs/
ApiKeys/
Makefile Projects/Debug/
Makefile Projects/Release/
Web Installer/*.exe
basehmods.tar
bin/
commit.txt
data/GamesDB.cs
data/desktop_entries.7z
data/desktop_entries.tar
data/libretro_cores.7z
data/libretro_cores.tar
data/licenses.tar
data/original_art.tar
downloadedFiles.txt
driver/classic_driver.exe
driver/source/nesmini_driver/Release/
driver/usb_driver/
mods/hmods/hakchi.hmod
obj/
packages/
tools/arm/detached-fallback
tools/putty/puttytel.exe
user_mods/bluetooth.hmod
!user_mods/snes_custom_filters.hmod/usr/bin/
