bin/
driver/source/nesmini_driver/Release/
driver/usb_driver/
obj/
.vs/
*.csproj.user
*.pfx
commit.txt
basehmods.tar
downloadedFiles.txt
mods/hmods/hakchi.hmod
tools/arm/detached-fallback
Web Installer/*.exe
