[submodule "Libraries/SSH.NET"]
	path = Libraries/SSH.NET
	url = https://github.com/TeamShinkansen/SSH.NET.git
	branch = notracesource
[submodule "Libraries/ProgressODoom"]
	path = Libraries/ProgressODoom
	url = https://github.com/daPhie79/ProgressODoom.git
[submodule "Libraries/tiny7z"]
	path = Libraries/tiny7z
	url = https://github.com/daPhie79/tiny7z.git
[submodule "Libraries/LibUsbDotNet"]
	path = Libraries/LibUsbDotNet
	url = https://github.com/TeamShinkansen/LibUsbDotNet.git
[submodule "driver/source"]
	path = driver/source
	url = https://github.com/TeamShinkansen/libwdi.git
[submodule "Libraries/FelLib"]
	path = Libraries/FelLib
	url = https://github.com/TeamShinkansen/FelLib.git
[submodule "Libraries/CueSharp"]
	path = Libraries/CueSharp
	url = https://github.com/TeamShinkansen/CueSharp.git
[submodule "Libraries/SpineGen"]
	path = Libraries/SpineGen
url=https://github.com/DanTheMan827/SpineGen.git