bin/
driver/source/nesmini_driver/Release/
driver/usb_driver/
obj/
.vs/
*.csproj.user
*.vcxproj.user
*.pfx
commit.txt
basehmods.tar
downloadedFiles.txt
mods/hmods/hakchi.hmod
tools/arm/detached-fallback
Web Installer/*.exe
driver/classic_driver.exe
Makefile Projects/Release/
Makefile Projects/Debug/
tools/putty/puttytel.exe
packages/
data/libretro_cores.7z
data/desktop_entries.7z
data/libretro_cores.tar
data/desktop_entries.tar
data/original_art.tar
!user_mods/snes_custom_filters.hmod/usr/bin/
user_mods/bluetooth.hmod
