<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.4.6" targetFramework="net35" />
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net35" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net35" developmentDependency="true" />
  <package id="Fody" version="2.0.0" targetFramework="net35" developmentDependency="true" />
  <package id="nQuant" version="1.0.3" targetFramework="net35" />
</packages>