[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/jp_jp_Puyo_Puyo.bin --preamp=0.14 --mdz80.overclock=0.994
Path=/var/saves/CLV-M2-jp_jp_Puyo_Puyo
Name=Puyo Puyo
CePrefix=JP
Icon=/var/games/CLV-M2-jp_jp_Puyo_Puyo/CLV-M2-jp_jp_Puyo_Puyo.png

[X-CLOVER Game]
Code=CLV-M2-jp_jp_Puyo_Puyo
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=puyo puyo
SortRawPublisher=UNKNOWN
Copyright=

[m2engage]
regionTag=JP_JP_Puyo1
sortRawGenre=
index=
demo_time=
country=jp

[Description]
Text = 
