[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/jp_jp_Game_no_Kanzume.bin --preamp=2.78 --mdz80.overclock=1
Path=/var/saves/CLV-M2-jp_jp_Game_no_Kanzume
Name=Value Games in a Can
CePrefix=JP
Icon=/var/games/CLV-M2-jp_jp_Game_no_Kanzume/CLV-M2-jp_jp_Game_no_Kanzume.png

[X-CLOVER Game]
Code=CLV-M2-jp_jp_Game_no_Kanzume
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=1995-  -
SaveCount=0
SortRawTitle=value games in a can
SortRawPublisher=SEGA
Copyright=┏SEGA

[m2engage]
regionTag=JP_EN_GnoKan
sortRawGenre=HomeTable
index=33
demo_time=3600
country=us

[Description]
Text = 
Release Year: 1995
 
All titles from the digital game
service "Games Library" in a
single app! This title is packed
full of strange and charming games
such as Flicky, Teddy Boy Blues,
and DokiDoki Penguin Land.