[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/jp_jp_Wrestleball.bin --preamp=0.84 --mdz80.overclock=1
Path=/var/saves/CLV-M2-jp_jp_Wrestleball
Name=Wrestleball
CePrefix=JP
Icon=/var/games/CLV-M2-jp_jp_Wrestleball/CLV-M2-jp_jp_Wrestleball.png

[X-CLOVER Game]
Code=CLV-M2-jp_jp_Wrestleball
TestID=0
ID=0
Players=2
Simultaneous=1
ReleaseDate=1991-  -
SaveCount=0
SortRawTitle=wrestleball
SortRawPublisher=NAMCO
Copyright=©2019 BANDAI NAMCO Entertainment Inc.

[m2engage]
regionTag=JP_EN_Westle
sortRawGenre=RacingSport
index=42
demo_time=5460
country=us

[Description]
Text = 
Release Year: 1991
 
This futuristic sport is equal
parts soccer, rugby, and football.
2 players can battle it out in one 
of the Genesis/Mega Drive's most
renowned titles, still winning 
praise to this day.