[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/jp_jp_Puyo_Puyo_2.bin --preamp=-4.54 --mdz80.overclock=0.99
Path=/var/saves/CLV-M2-jp_jp_Puyo_Puyo_2
Name=Puyo Puyo 2
CePrefix=JP
Icon=/var/games/CLV-M2-jp_jp_Puyo_Puyo_2/CLV-M2-jp_jp_Puyo_Puyo_2.png

[X-CLOVER Game]
Code=CLV-M2-jp_jp_Puyo_Puyo_2
TestID=0
ID=0
Players=2
Simultaneous=1
ReleaseDate=1994-  -
SaveCount=0
SortRawTitle=puyo puyo 2
SortRawPublisher=SEGA
Copyright=┏SEGA

[m2engage]
regionTag=JP_EN_Puyo2
sortRawGenre=Puzzle
index=40
demo_time=9000
country=us

[Description]
Text = 
Release Year: 1994
 
The sequel to the first Puyo Puyo,
and an acclaimed fan favorite.
Introduces new mechanics, such as
"Neutralize," "Quick Turn," and
"Hard Puyo." A great game to play
with friends!