[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/jp_etc_Contra_Hard_Corps.bin --preamp=-1.34 --mdz80.overclock=0.982
Path=/var/saves/CLV-M2-jp_etc_Contra_Hard_Corps
Name=Contra: Hard Corps
CePrefix=ETC
Icon=/var/games/CLV-M2-jp_etc_Contra_Hard_Corps/CLV-M2-jp_etc_Contra_Hard_Corps.png

[X-CLOVER Game]
Code=CLV-M2-jp_etc_Contra_Hard_Corps
TestID=0
ID=0
Players=2
Simultaneous=0
ReleaseDate=1994
SaveCount=0
SortRawTitle=contra: hard corps
SortRawPublisher=KONAMI
Copyright=©Konami Digital Entertainment

[m2engage]
regionTag=JP_EN_ContraT
sortRawGenre=ActionShooting
index=15
demo_time=8880
country=us

[Description]
Text = 
Release Year: 1994
 
Wage war against your enemies in
this nonstop action shooter.
Choose between multiple
characters, weapons, and even
paths as you blast your way
through crazy boss fights alone
or with a friend.