[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/jp_etc_Dynamite_Headdy.bin --preamp=-1.46 --mdz80.overclock=0.99
Path=/var/saves/CLV-M2-jp_etc_Dynamite_Headdy
Name=Dynamite Headdy
CePrefix=ETC
Icon=/var/games/CLV-M2-jp_etc_Dynamite_Headdy/CLV-M2-jp_etc_Dynamite_Headdy.png

[X-CLOVER Game]
Code=CLV-M2-jp_etc_Dynamite_Headdy
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=1994-  -
SaveCount=0
SortRawTitle=dynamite headdy
SortRawPublisher=SEGA
Copyright=

[m2engage]
regionTag=JP_EN_DHeaddy
sortRawGenre=Action
index=2
demo_time=7800
country=us

[Description]
Text = 
Release Year: 1994
 
Starring Headdy, the puppet hero
of courage and justice who fights
using his own head, this action
game is jam-packed with fun. Use
17 different power-up heads to
defeat the evil puppet servants
of Dark Demon!