[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/eu_en_The_Story_of_Thor.bin --preamp=1.09 --mdz80.overclock=0.997
Path=/var/saves/CLV-M2-eu_en_The_Story_of_Thor
Name=The Story of Thor
CePrefix=EN
Icon=/var/games/CLV-M2-eu_en_The_Story_of_Thor/CLV-M2-eu_en_The_Story_of_Thor.png

[X-CLOVER Game]
Code=CLV-M2-eu_en_The_Story_of_Thor
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=the story of thor
SortRawPublisher=UNKNOWN
Copyright=

[m2engage]
regionTag=EU_EN_TheStor
sortRawGenre=
index=38
demo_time=13380
country=eu

[Description]
Text = 
Release Year: 1995
 
A young man obtains a golden
armband that can summon four
spirits, and sets out on an
exhilarating action-RPG adventure.
Developed by Ancient, makers of
Streets of Rage II. Yuzo Koshiro's
soundtrack will pull you in!