[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/CLV-P-HBAPJ/CLV-P-HBAPJ.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 79 --enable-armet
Path=/var/lib/clover/profiles/0//CLV-P-HBAPJ
Name=北斗の拳３ 新世紀創造 凄拳烈伝
Icon=/usr/share/games/CLV-P-HBAPJ/CLV-P-HBAPJ.png

[X-CLOVER Game]
Code=CLV-P-HBAPJ
TestID=111
ID=0
Players=1
Simultaneous=0
ReleaseDate=1989-10-19
SaveCount=3
SortRawTitle=ほくとのけんすりーしんせいきそうぞうせいけんれつでん
SortRawPublisher=とうえいあにめーしょん
Copyright=北斗の拳３ 新世紀創造 凄拳烈伝\n©武論尊・原哲夫／NSP・東映アニメーション　©東映アニメーション
