[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_us_Kid_Chameleon.bin --preamp=-4.14 --mdz80.overclock=0.992
Path=/var/saves/CLV-M2-us_us_Kid_Chameleon
Name=Kid Chameleon
CePrefix=US
Icon=/var/games/CLV-M2-us_us_Kid_Chameleon/CLV-M2-us_us_Kid_Chameleon.png

[X-CLOVER Game]
Code=CLV-M2-us_us_Kid_Chameleon
TestID=0
ID=0
Players=2
Simultaneous=0
ReleaseDate=1992-  -
SaveCount=0
SortRawTitle=kid chameleon
SortRawPublisher=SEGA
Copyright=┏SEGA

[m2engage]
regionTag=US_EN_KidCham
sortRawGenre=Action
index=18
demo_time=4440
country=us

[Description]
Text = 
Release Year: 1992
  
Kid Chameleon, the hero with nine 
faces, stars in this side-
scrolling action game set in the 
world of holograms. Use the 
special powers of nine different 
helmets to beat over 100 levels!