[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_us_Tetris.bin --preamp=-1 --mdz80.overclock=1
Path=/var/saves/CLV-M2-us_us_Tetris
Name=Tetris┓
CePrefix=US
Icon=/var/games/CLV-M2-us_us_Tetris/CLV-M2-us_us_Tetris.png

[X-CLOVER Game]
Code=CLV-M2-us_us_Tetris
TestID=0
ID=0
Players=2
Simultaneous=1
ReleaseDate=2019-  -
SaveCount=0
SortRawTitle=tetris┓
SortRawPublisher=SEGA
Copyright=Tetris ┓ & ┏ 1985～2019 and Tetris trade dress are\nowned by Tetris Holding.\n┏ SEGA

[m2engage]
regionTag=US_EN_Tetris_
sortRawGenre=Puzzle
index=37
demo_time=5580
country=us

[Description]
Text = 
Release Year: 2019
 
The iconic game that captured the
hearts of players worldwide and
defined the falling-block puzzle
genre. A mega hit in arcades across
Japan, the fabled Genesis port is
finally available to play here!