[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_jp_Dr_Robotnik_s_Mean_Bean_Machine.bin --preamp=0.14 --mdz80.overclock=0.994
Path=/var/saves/CLV-M2-us_jp_Dr_Robotnik_s_Mean_Bean_Machine
Name=ぷよぷよ
CePrefix=JP
Icon=/var/games/CLV-M2-us_jp_Dr_Robotnik_s_Mean_Bean_Machine/CLV-M2-us_jp_Dr_Robotnik_s_Mean_Bean_Machine.png

[X-CLOVER Game]
Code=CLV-M2-us_jp_Dr_Robotnik_s_Mean_Bean_Machine
TestID=0
ID=0
Players=2
Simultaneous=1
ReleaseDate=1992-12-18
SaveCount=0
SortRawTitle=ぷよぷよ
SortRawPublisher=SEGA
Copyright=©SEGA

[m2engage]
regionTag=US_JP_DrRobot
sortRawGenre=Puzzle
index=10
demo_time=7200
country=jp

[Description]
Text = 
1992年12月18日発売　　
　　　　　　　　　　　
アクションパズルの金字塔であ
る人気シリーズ第１作。順番に
降ってくる「ぷよ」を同じ色同
士で４つ以上くっつけて次々と
消していこう。連鎖消しをキメ
れば、相手のフィールドは「お
じゃまぷよ」でいっぱいに！