[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_us_Sonic_Spinball.bin --preamp=-4.45 --mdz80.overclock=1
Path=/var/saves/CLV-M2-us_us_Sonic_Spinball
Name=Sonic The Hedgehog Spinball
CePrefix=US
Icon=/var/games/CLV-M2-us_us_Sonic_Spinball/CLV-M2-us_us_Sonic_Spinball.png

[X-CLOVER Game]
Code=CLV-M2-us_us_Sonic_Spinball
TestID=0
ID=0
Players=4
Simultaneous=0
ReleaseDate=1993-  -
SaveCount=0
SortRawTitle=sonic the hedgehog spinball
SortRawPublisher=SEGA
Copyright=┏SEGA

[m2engage]
regionTag=US_EN_SonicSp
sortRawGenre=Action
index=28
demo_time=4080
country=us

[Description]
Text = 
Release Year: 1993
 
The world's fastest hedgehog 
bursts onto the pinball scene in 
an all-new adventure! In this 
action pinball game anyone can 
pick up and enjoy, gather the 
Chaos Emeralds and save four 
worlds from Dr. Robotnik.