[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_sp_Contra_Hard_Corps.bin --preamp=-1.34 --mdz80.overclock=0.982
Path=/var/saves/CLV-M2-us_sp_Contra_Hard_Corps
Name=Probotector
CePrefix=SP
Icon=/var/games/CLV-M2-us_sp_Contra_Hard_Corps/CLV-M2-us_sp_Contra_Hard_Corps.png

[X-CLOVER Game]
Code=CLV-M2-us_sp_Contra_Hard_Corps
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=1994-  -
SaveCount=0
SortRawTitle=probotector
SortRawPublisher=KONAMI
Copyright=

[m2engage]
regionTag=US_IT_ContraH
sortRawGenre=ActionShooting
index=8
demo_time=8700
country=us

[Description]
Text = 
Anno di pubblicazione: 1994
 
Contrasta gli attacchi dei malvagi
robot con gli Hard Corps in questo
sparatutto dall'azione non stop.
Scegli tra i 4 personaggi e fai
fuori un cattivo dopo l'altro come
giocatore singolo o con un amico.