[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_us_Darius.bin --preamp=-1.22 --dev.mdpad.enable_6b_toejam2_hack=1 --mdz80.overclock=0.945
Path=/var/saves/CLV-M2-us_us_Darius
Name=Darius
CePrefix=US
Icon=/var/games/CLV-M2-us_us_Darius/CLV-M2-us_us_Darius.png

[X-CLOVER Game]
Code=CLV-M2-us_us_Darius
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=2019-  -
SaveCount=0
SortRawTitle=darius
SortRawPublisher=TAITO
Copyright=┏TAITO CORPORATION 1986, 2019 ALL RIGHTS RESERVED.

[m2engage]
regionTag=US_EN_Darius_
sortRawGenre=Shoot-'em-Up
index=9
demo_time=7200
country=us

[Description]
Text = 
Release Year: 2019
 
Taito's 1986 hit arcade shooter
Darius makes its official debut
on the Genesis/Mega Drive. This
faithful port comes with a brand-
new special mode where you can
face off against all 26 huge
battleships!