[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_jp_Phantasy_Star_IV.bin --preamp=4.56 --mdz80.overclock=1
Path=/var/saves/CLV-M2-us_jp_Phantasy_Star_IV
Name=ファンタシースター ～千年紀の終りに～
CePrefix=JP
Icon=/var/games/CLV-M2-us_jp_Phantasy_Star_IV/CLV-M2-us_jp_Phantasy_Star_IV.png

[X-CLOVER Game]
Code=CLV-M2-us_jp_Phantasy_Star_IV
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=1993-12-17
SaveCount=0
SortRawTitle=ファンタシースター ～千年紀の終りに～
SortRawPublisher=SEGA
Copyright=©SEGA

[m2engage]
regionTag=US_JP_Phantas
sortRawGenre=RPG
index=24
demo_time=6600
country=jp

[Description]
Text = 
1993年12月17日発売　　
　　　　　　　　　　　
セガを代表する人気ＲＰＧのシ
リーズ集大成として作られた、
第４作。高度文明の失われた世
界を舞台に、新米ハンターのル
ディと個性豊かな９人の仲間た
ちが力を合わせて、巨大な悪に
立ち向かいます。