[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/jp_etc_Target_Earth.bin --preamp=1.05 --mdz80.overclock=1
Path=/var/saves/CLV-M2-jp_etc_Target_Earth
Name=Target Earth
CePrefix=ETC
Icon=/var/games/CLV-M2-jp_etc_Target_Earth/CLV-M2-jp_etc_Target_Earth.png

[X-CLOVER Game]
Code=CLV-M2-jp_etc_Target_Earth
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=1990-  -
SaveCount=0
SortRawTitle=target earth
SortRawPublisher=Dreamworks Games
Copyright=©extreme

[m2engage]
regionTag=JP_EN_TEarth
sortRawGenre=ActionShooting
index=18
demo_time=5640
country=us

[Description]
Text = 
Release Year: 1990
 
This action-packed shooter won
many fans for its exhilarating mix
of mechsuit platforming and
shooting. Earn equipment based on
your performance in each stage,
and customize your loadout for
eight different levels.