[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/jp_fr_Landstalker.bin --preamp=4.67 --mdz80.overclock=1
Path=/var/saves/CLV-M2-jp_fr_Landstalker
Name=Landstalker
CePrefix=FR
Icon=/var/games/CLV-M2-jp_fr_Landstalker/CLV-M2-jp_fr_Landstalker.png

[X-CLOVER Game]
Code=CLV-M2-jp_fr_Landstalker
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=landstalker
SortRawPublisher=UNKNOWN
Copyright=

[m2engage]
regionTag=JP_FR_Landsta
sortRawGenre=
index=11
demo_time=1200
country=us

[Description]
Text = 
Année de sortie: 1993
 
Dans ce RPG d'action, le chasseur
de trésor Ryle part à l'aventure
avec son minuscule compagnon Friday
en quête d'un trésor perdu.
L'approche isométrique à l'action
3D rend ce jeu palpitant !