[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/jp_etc_World_of_Illusion_Starring_Mickey_Mouse_and_Donald_Duck.bin --preamp=6.08 --machine_md.cpu_div=5 --mdz80.overclock=0.999
Path=/var/saves/CLV-M2-jp_etc_World_of_Illusion_Starring_Mickey_Mouse_and_Donald_Duck
Name=World of Illusion Starring Mickey Mouse and Donald Duck
CePrefix=ETC
Icon=/var/games/CLV-M2-jp_etc_World_of_Illusion_Starring_Mickey_Mouse_and_Donald_Duck/CLV-M2-jp_etc_World_of_Illusion_Starring_Mickey_Mouse_and_Donald_Duck.png

[X-CLOVER Game]
Code=CLV-M2-jp_etc_World_of_Illusion_Starring_Mickey_Mouse_and_Donald_Duck
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=world of illusion starring mickey mouse and donald duck
SortRawPublisher=UNKNOWN
Copyright=

[m2engage]
regionTag=JP_EN_MMandDD
sortRawGenre=
index=9
demo_time=7440
country=us

[Description]
Text = 
Release Year: 1992
 
When Mickey and Donald travel to
the World of Illusion, they find a
mysterious and fantastical world
waiting for them. Share moments of
tension and wonder with Mickey and
Donald as you explore a new land
together.