[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/jp_jp_World_of_Illusion_Starring_Mickey_Mouse_and_Donald_Duc.bin --preamp=6.08 --machine_md.cpu_div=5 --mdz80.overclock=0.999
Path=/var/saves/CLV-M2-jp_jp_World_of_Illusion_Starring_Mickey_Mouse_and_Donald_Duc
Name=アイラブ ミッキー&ドナルド　ふしぎなマジックボックス
CePrefix=JP
Icon=/var/games/CLV-M2-jp_jp_World_of_Illusion_Starring_Mickey_Mouse_and_Donald_Duc/CLV-M2-jp_jp_World_of_Illusion_Starring_Mickey_Mouse_and_Donald_Duc.png

[X-CLOVER Game]
Code=CLV-M2-jp_jp_World_of_Illusion_Starring_Mickey_Mouse_and_Donald_Duc
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=アイラブ ミッキー&ドナルド　ふしぎなマジックボックス
SortRawPublisher=UNKNOWN
Copyright=© SEGA　© Disney

[m2engage]
regionTag=JP_JP_MMandDD
sortRawGenre=
index=9
demo_time=7440
country=jp

[Description]
Text = 
1992年12月18日発売　　　
　　　　　　　　　　　　
ふしぎなマジックボックスの中
に入り込んだミッキーマウスと
ドナルドダック。たどり着いた
ところは、魔法とファンタジー
の世界。ふたりのゆかいで楽し
い、そして時には手に汗にぎ
る、冒険の旅が始まります。