[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/jp_etc_Mega_Man_The_Wily_Wars.bin --preamp=-2.26 --machine_md.cpu_div=5 --mdz80.overclock=1
Path=/var/saves/CLV-M2-jp_etc_Mega_Man_The_Wily_Wars
Name=Mega Man: The Wily Wars
CePrefix=ETC
Icon=/var/games/CLV-M2-jp_etc_Mega_Man_The_Wily_Wars/CLV-M2-jp_etc_Mega_Man_The_Wily_Wars.png

[X-CLOVER Game]
Code=CLV-M2-jp_etc_Mega_Man_The_Wily_Wars
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=Mega Man: The Wily Wars
SortRawPublisher=UNKNOWN
Copyright=

[m2engage]
regionTag=JP_EN_MMTWW
sortRawGenre=
index=17
demo_time=5580
country=us

[Description]
Text = 
Release Year: 1994
 
The first three games in the
renowned Mega Man series, compiled
for the Genesis/Mega Drive! Beat
all three games to unlock Wily
Tower, where you can challenge a
new boss.