[Desktop Entry]
Type=Application
Exec=/bin/clover-canoe-shvc-wr -rom /var/squashfs/usr/share/games/CLV-P-VABQJ/CLV-P-VABQJ.sfrom --volume 60 -rollback-snapshot-period 3600
Path=/var/lib/clover/profiles/0//CLV-P-VABQJ
Name=スーパーマリオRPG
Icon=/var/squashfs/usr/share/games/CLV-P-VABQJ/CLV-P-VABQJ.png

[X-CLOVER Game]
Code=CLV-P-VABQJ
TestID=11
Status=Completing-3
ID=0
Players=1
Simultaneous=0
ReleaseDate=1996-03-09
SaveCount=3
SortRawTitle=すーぱーまりおあーるぴーじー
SortRawPublisher=にんてんどう
Copyright=スーパーマリオRPG ©1995 Nintendo/ SQUARE ENIX CO., LTD. All Rights Reserved. キャラクター: ©Nintendo,©SQUARE ENIX CO., LTD. All Rights Reserved.
MyPlayDemoTime=45
