[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-HACCJ/CLV-P-HACCJ.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 75 --enable-armet 
Path=/var/lib/clover/profiles/0//CLV-P-HACCJ
Name=ソロモンの鍵
Icon=/var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-HACCJ/CLV-P-HACCJ.png

[X-CLOVER Game]
Code=CLV-P-HACCJ
TestID=261
ID=0
Players=1
Simultaneous=0
ReleaseDate=1986-07-30
SaveCount=0
SortRawTitle=そろもんのかぎ
SortRawPublisher=こーえーてくも
Copyright=ソロモンの鍵 ©1986 コーエーテクモゲームス All rights reserved.
