[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /var/squashfs/usr/share/games/nes/kachikachi/CLV-P-HAAWJ/CLV-P-HAAWJ.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 69 --enable-armet 
Path=/var/lib/clover/profiles/0//CLV-P-HAAWJ
Name=マリオブラザーズ
Icon=/var/squashfs/usr/share/games/nes/kachikachi/CLV-P-HAAWJ/CLV-P-HAAWJ.png

[X-CLOVER Game]
Code=CLV-P-HAAWJ
TestID=571
ID=0
Players=2
Simultaneous=1
ReleaseDate=1983-07-14
SaveCount=0
SortRawTitle=まりおぶらざーず
SortRawPublisher=にんてんどう
Copyright=マリオブラザーズ ©1983 Nintendo
