[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-HACJJ/CLV-P-HACJJ.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 83 --enable-armet 
Path=/var/lib/clover/profiles/0//CLV-P-HACJJ
Name=ダウンタウン熱血物語
Icon=/var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-HACJJ/CLV-P-HACJJ.png

[X-CLOVER Game]
Code=CLV-P-HACJJ
TestID=321
ID=0
Players=2
Simultaneous=1
ReleaseDate=1989-04-25
SaveCount=0
SortRawTitle=だうんたうんねっけつものがたり
SortRawPublisher=あーくしすてむわーくす
Copyright=ダウンタウン熱血物語 © ARC SYSTEM WORKS
