[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-HAAUJ/CLV-P-HAAUJ.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 72 --enable-armet 
Path=/var/lib/clover/profiles/0//CLV-P-HAAUJ
Name=アイスクライマー
Icon=/var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-HAAUJ/CLV-P-HAAUJ.png

[X-CLOVER Game]
Code=CLV-P-HAAUJ
TestID=551
ID=0
Players=2
Simultaneous=1
ReleaseDate=1985-01-30
SaveCount=0
SortRawTitle=あいすくらいまー
SortRawPublisher=にんてんどう
Copyright=アイスクライマー ©1984 Nintendo
