[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-NAADE/CLV-P-NAADE.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 70 --enable-armet 
Path=/var/lib/clover/profiles/0//CLV-P-NAADE
Name=Super Mario Bros. 2
Icon=/var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-NAADE/CLV-P-NAADE.png

[X-CLOVER Game]
Code=CLV-P-NAADE
TestID=512
ID=0
Players=1
Simultaneous=0
ReleaseDate=1988-10-10
SaveCount=0
SortRawTitle=super mario bros. 2
SortRawPublisher=NINTENDO
Copyright=Super Mario Bros. 2 ©1988 Nintendo
