[Desktop Entry]
Type=Application
Exec=/bin/clover-canoe-shvc-wr -rom /var/squashfs/usr/share/games/CLV-P-SAABE/CLV-P-SAABE.sfrom --volume 80 -rollback-snapshot-period 600
Path=/var/lib/clover/profiles/0//CLV-P-SAABE
Name=F-ZERO
Icon=/var/squashfs/usr/share/games/CLV-P-SAABE/CLV-P-SAABE.png

[X-CLOVER Game]
Code=CLV-P-SAABE
TestID=1
Status=Completing-6
ID=0
Players=1
Simultaneous=0
ReleaseDate=1991-08-23
SaveCount=1
SortRawTitle=f-zero
SortRawPublisher=NINTENDO
Copyright=F-ZERO™ ©1990-1991 Nintendo
MyPlayDemoTime=45
