[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /var/squashfs/usr/share/games/nes/kachikachi/CLV-P-HABQJ/CLV-P-HABQJ.qd  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 90 --enable-armet 
Path=/var/lib/clover/profiles/0//CLV-P-HABQJ
Name=悪魔城ドラキュラ
Icon=/var/squashfs/usr/share/games/nes/kachikachi/CLV-P-HABQJ/CLV-P-HABQJ.png

[X-CLOVER Game]
Code=CLV-P-HABQJ
TestID=141
ID=0
Players=1
Simultaneous=0
ReleaseDate=1986-09-26
SaveCount=3
SortRawTitle=あくまじょうどらきゅら
SortRawPublisher=こなみ
Copyright=悪魔城ドラキュラ ©1986 Konami Digital Entertainment
