[Desktop Entry]
Type=Application
Exec=/bin/clover-canoe-shvc-wr -rom /var/squashfs/usr/share/games/CLV-P-SAAHE/CLV-P-SAAHE.sfrom --volume 100 -rollback-snapshot-period 600
Path=/var/lib/clover/profiles/0//CLV-P-SAAHE
Name=Super Metroid
Icon=/var/squashfs/usr/share/games/CLV-P-SAAHE/CLV-P-SAAHE.png

[X-CLOVER Game]
Code=CLV-P-SAAHE
TestID=4
Status=Completing-1
ID=0
Players=1
Simultaneous=0
ReleaseDate=1994-04-18
SaveCount=3
SortRawTitle=super metroid
SortRawPublisher=NINTENDO
Copyright=Super Metroid™ ©1994 Nintendo
MyPlayDemoTime=45
