[Desktop Entry]
Type=Application
Exec=/bin/clover-canoe-shvc-wr -rom /var/lib/hakchi/squashfs/usr/share/games/CLV-P-VAAQJ/CLV-P-VAAQJ.sfrom --volume 80 -rollback-snapshot-period 600
Path=/var/lib/clover/profiles/0//CLV-P-VAAQJ
Name=星のカービィ スーパーデラックス
Icon=/var/lib/hakchi/squashfs/usr/share/games/CLV-P-VAAQJ/CLV-P-VAAQJ.png

[X-CLOVER Game]
Code=CLV-P-VAAQJ
TestID=7
Status=Duplicate-6
ID=0
Players=2
Simultaneous=1
ReleaseDate=1996-03-21
SaveCount=3
SortRawTitle=ほしのかーびぃすーぱーでらっくす
SortRawPublisher=にんてんどう
Copyright=星のカービィ スーパーデラックス ©1995 HAL Laboratory, Inc. / Nintendo
MyPlayDemoTime=45
