[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-HAAXJ/CLV-P-HAAXJ.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 75 --enable-armet 
Path=/var/lib/clover/profiles/0//CLV-P-HAAXJ
Name=ドクターマリオ
Icon=/var/lib/hakchi/squashfs/usr/share/games/nes/kachikachi/CLV-P-HAAXJ/CLV-P-HAAXJ.png

[X-CLOVER Game]
Code=CLV-P-HAAXJ
TestID=581
ID=0
Players=2
Simultaneous=1
ReleaseDate=1990-07-27
SaveCount=0
SortRawTitle=どくたーまりお
SortRawPublisher=にんてんどう
Copyright=ドクターマリオ ©1990 Nintendo
