[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_us_Altered_Beast.bin --preamp=-3.45 --mdz80.overclock=1
Path=/var/saves/CLV-M2-us_us_Altered_Beast
Name=Altered Beast
CePrefix=US
Icon=/var/games/CLV-M2-us_us_Altered_Beast/CLV-M2-us_us_Altered_Beast.png

[X-CLOVER Game]
Code=CLV-M2-us_us_Altered_Beast
TestID=0
ID=0
Players=2
Simultaneous=0
ReleaseDate=1989-  -
SaveCount=0
SortRawTitle=altered beast
SortRawPublisher=SEGA
Copyright=┏SEGA

[m2engage]
regionTag=US_EN_Altered
sortRawGenre=Action
index=2
demo_time=4380
country=us

[Description]
Text = 
Release Year: 1989
 
Save the kidnapped goddess Athena 
in this beat-em-up action game. 
Collect Spirit Balls on each level 
to transform into bestial forms of
ultimate power, and defeat your
monstrous foes.