[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_ko_The_Story_of_Thor.bin --preamp=1.09 --mdz80.overclock=0.997
Path=/var/saves/CLV-M2-us_ko_The_Story_of_Thor
Name=스토리 오브 도어
CePrefix=KO
Icon=/var/games/CLV-M2-us_ko_The_Story_of_Thor/CLV-M2-us_ko_The_Story_of_Thor.png

[X-CLOVER Game]
Code=CLV-M2-us_ko_The_Story_of_Thor
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=1994-  -
SaveCount=0
SortRawTitle=스토리 오브 도어
SortRawPublisher=SEGA
Copyright=┏SEGA　MUSIC┏YUZO KOSHIRO

[m2engage]
regionTag=US_KO_TheSofT
sortRawGenre=RPG
index=3
demo_time=13380
country=jp

[Description]
Text = 
출시 연도: 1994 
                    
4명의 정령을 소환할 수 있는 '금팔찌'를
손에 넣은 청년이 정령과 함께 모험을
떠나는 상쾌감 가득한 액션 RPG
게임입니다. 개발은 '베어 너클 2'를 제작한
에인션트. Yuzo Koshiro의 게임 뮤직
또한 매력적입니다.