[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_us_Road_Rash_II.bin --preamp=1.25 --mdz80.overclock=0.999
Path=/var/saves/CLV-M2-us_us_Road_Rash_II
Name=Road Rash II
CePrefix=US
Icon=/var/games/CLV-M2-us_us_Road_Rash_II/CLV-M2-us_us_Road_Rash_II.png

[X-CLOVER Game]
Code=CLV-M2-us_us_Road_Rash_II
TestID=0
ID=0
Players=2
Simultaneous=1
ReleaseDate=1992-  -
SaveCount=0
SortRawTitle=road rash ii
SortRawPublisher=ELECTRONIC ARTS
Copyright=┏ 1993, 2019 Electronic Arts Inc.\nRoad Rash is a trademark of Electronic Arts Inc.

[m2engage]
regionTag=US_EN_RoadRas
sortRawGenre=RacingSports
index=25
demo_time=6180
country=us

[Description]
Text = 
Release Year: 1992
 
Road Rashers gather from across
the globe for a chance to race 
each other down the highway. A no-
holds-barred race across five 
courses spanning Alaska, Arizona, 
Hawaii, and more. (2- player 
splitscreen play included.)