[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_us_Alex_Kidd.bin --preamp=3.33 --mdz80.overclock=1
Path=/var/saves/CLV-M2-us_us_Alex_Kidd
Name=Alex Kidd in the Enchanted Castle
CePrefix=US
Icon=/var/games/CLV-M2-us_us_Alex_Kidd/CLV-M2-us_us_Alex_Kidd.png

[X-CLOVER Game]
Code=CLV-M2-us_us_Alex_Kidd
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=1989-  -
SaveCount=0
SortRawTitle=alex kidd in the enchanted castle
SortRawPublisher=SEGA
Copyright=┏SEGA

[m2engage]
regionTag=US_EN_ALEXKID
sortRawGenre=Action
index=0
demo_time=5400
country=us

[Description]
Text = 
Release Year: 1989
                        
Alex Kidd, master of rock-paper-
scissors and kung fu, stars in 
this action game. On a frightening 
planet where losing at rock-paper-
scissors means death, Alex Kidd 
must earn money, buy vehicles, and 
explore the world.