[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_us_Virtua_Fighter_2.bin --preamp=3.98 --mdz80.overclock=0.999
Path=/var/saves/CLV-M2-us_us_Virtua_Fighter_2
Name=Virtua Fighter 2
CePrefix=US
Icon=/var/games/CLV-M2-us_us_Virtua_Fighter_2/CLV-M2-us_us_Virtua_Fighter_2.png

[X-CLOVER Game]
Code=CLV-M2-us_us_Virtua_Fighter_2
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=Virtua Fighter 2
SortRawPublisher=UNKNOWN
Copyright=

[m2engage]
regionTag=US_EN_Virtua2
sortRawGenre=
index=43
demo_time=4500
country=us

[Description]
Text = 
Release Year: 1997
 
The 3D fighter that became a
household name makes its 2D debut!
A variety of fighters, each 
masters of styles like bajiquan,
jeet kune do, pankration, and pro 
wrestling, face off to earn the 
title of the world's greatest.