[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_eu_Landstalker.bin --preamp=4.67 --mdz80.overclock=1
Path=/var/saves/CLV-M2-us_eu_Landstalker
Name=Landstalker
CePrefix=EU
Icon=/var/games/CLV-M2-us_eu_Landstalker/CLV-M2-us_eu_Landstalker.png

[X-CLOVER Game]
Code=CLV-M2-us_eu_Landstalker
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=Landstalker
SortRawPublisher=UNKNOWN
Copyright=

[m2engage]
regionTag=US_EU_Landsta
sortRawGenre=
index=19
demo_time=1200
country=jp

[Description]
Text = 
Anno di pubblicazione: 1993
 
In questo RPG d'azione di grande
successo, Nigel il cacciatore di
tesori va all'avventura con la
piccola Friday per cercare un
tesoro perduto. La prospettiva
isometrica costringe a pensare in
fretta e avere i riflessi pronti!