[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/us_eu_Light_Crusader.bin --preamp=1 --mdz80.overclock=1.001
Path=/var/saves/CLV-M2-us_eu_Light_Crusader
Name=Light Crusader
CePrefix=EU
Icon=/var/games/CLV-M2-us_eu_Light_Crusader/CLV-M2-us_eu_Light_Crusader.png

[X-CLOVER Game]
Code=CLV-M2-us_eu_Light_Crusader
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=Light Crusader
SortRawPublisher=UNKNOWN
Copyright=

[m2engage]
regionTag=US_EU_LightCr
sortRawGenre=
index=20
demo_time=1800
country=us

[Description]
Text = 
Année de sortie: 1995
 
L'équipe de Treasure a mis tout son
cœur à l'ouvrage dans ce RPG
d'action. Incarne l'épéiste Sir
David et explore un labyrinthe
dangereux pour découvrir les
raisons d'un enlèvement et vaincre
le maléfique Ragno Roke.