[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/eu_us_Streets_of_Rage_2.bin --preamp=-2.45 --mdz80.overclock=0.992
Path=/var/saves/CLV-M2-eu_us_Streets_of_Rage_2
Name=Streets of Rage II
CePrefix=US
Icon=/var/games/CLV-M2-eu_us_Streets_of_Rage_2/CLV-M2-eu_us_Streets_of_Rage_2.png

[X-CLOVER Game]
Code=CLV-M2-eu_us_Streets_of_Rage_2
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=Streets of Rage II
SortRawPublisher=UNKNOWN
Copyright=

[m2engage]
regionTag=EU_US_Streets
sortRawGenre=
index=33
demo_time=7800
country=us

[Description]
Text = 
Release Year: 1993
 
This beat-em-up was one of the
highest-rated games on the
Genesis/Mega Drive. Four fighters
battle to rescue a friend captured
by an evil syndicate. Yuzo
Koshiro's soundtrack will pump you
up! Supports up to 2 players.