[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/eu_jp_Dynamite_Headdy.bin --preamp=-1.46 --mdz80.overclock=0.99
Path=/var/saves/CLV-M2-eu_jp_Dynamite_Headdy
Name=ダイナマイトヘッディー
CePrefix=JP
Icon=/var/games/CLV-M2-eu_jp_Dynamite_Headdy/CLV-M2-eu_jp_Dynamite_Headdy.png

[X-CLOVER Game]
Code=CLV-M2-eu_jp_Dynamite_Headdy
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=ダイナマイトヘッディー
SortRawPublisher=UNKNOWN
Copyright=©SEGA

[m2engage]
regionTag=EU_JP_Dynamit
sortRawGenre=
index=10
demo_time=7800
country=jp

[Description]
Text = 
1994年 8月 5日発売　
　　　　　　　　　
トレジャーが贈るボリューム満
点の痛快アクションです。勇気
と正義のボロ人形・ヘッディー
の武器はその頭。１７種類もの
パワーアップヘッドを使って、
ダークデーモン皇帝と悪い人形
たちをやっつけろ！