[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/eu_en_Road_Rash_II.bin --preamp=1.25 --mdz80.overclock=0.999
Path=/var/saves/CLV-M2-eu_en_Road_Rash_II
Name=Road Rash II
CePrefix=EN
Icon=/var/games/CLV-M2-eu_en_Road_Rash_II/CLV-M2-eu_en_Road_Rash_II.png

[X-CLOVER Game]
Code=CLV-M2-eu_en_Road_Rash_II
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=Road Rash II
SortRawPublisher=UNKNOWN
Copyright=

[m2engage]
regionTag=EU_EN_RoadRas
sortRawGenre=
index=25
demo_time=6180
country=us

[Description]
Text = 
Release Year: 1992
 
Road Rashers gather from across
the globe for a chance to race 
each other down the highway. A no-
holds-barred race across five 
courses spanning Alaska, Arizona, 
Hawaii, and more. (2- player 
splitscreen play included.)