[Desktop Entry]
Type=Application
Exec=/bin/m2engage /usr/game/system/roms/eu_en_Sword_of_Vermilion.BIN --preamp=3.99 --mdz80.overclock=0.999
Path=/var/saves/CLV-M2-eu_en_Sword_of_Vermilion
Name=Sword of Vermilion
CePrefix=EN
Icon=/var/games/CLV-M2-eu_en_Sword_of_Vermilion/CLV-M2-eu_en_Sword_of_Vermilion.png

[X-CLOVER Game]
Code=CLV-M2-eu_en_Sword_of_Vermilion
TestID=0
ID=0
Players=1
Simultaneous=0
ReleaseDate=
SaveCount=0
SortRawTitle=sword of vermilion
SortRawPublisher=UNKNOWN
Copyright=

[m2engage]
regionTag=EU_EN_Swordof
sortRawGenre=
index=
demo_time=
country=us

[Description]
Text = 
