[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /var/squashfs/usr/share/games/nes/kachikachi/CLV-P-NAAWE/CLV-P-NAAWE.nes  --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 3,2 --volume 69 --enable-armet 
Path=/var/lib/clover/profiles/0//CLV-P-NAAWE
Name=Mario Bros.
Icon=/var/squashfs/usr/share/games/nes/kachikachi/CLV-P-NAAWE/CLV-P-NAAWE.png

[X-CLOVER Game]
Code=CLV-P-NAAWE
TestID=572
ID=0
Players=2
Simultaneous=1
ReleaseDate=1986-06-20
SaveCount=0
SortRawTitle=mario bros.
SortRawPublisher=NINTENDO
Copyright=Mario Bros. ©1983 Nintendo
